<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <script src="index.js" defer></script>
  <title>使用server-mock搭建web服务器并与页面交互</title>
</head>
<body>
    <form action="/user" method="get" accept-charset="utf-8">
        <div>
            <input type="text" name="username">
            <input type="submit" name="submit" value="查询数据">
        </div>
    </form>
    <ul class="friends-list">
    </ul>
</body>
</html>
